# Detecting Credit Card Fraud 
link of the original dataset : https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Content

The dataset contains transactions made by credit cards in September 2013 by European cardholders. 
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

Given the class imbalance ratio, we recommend measuring the accuracy using the Area Under the Precision-Recall Curve (AUPRC). Confusion matrix accuracy is not meaningful for unbalanced classification.

In [14]:
# loading the dataset to a Pandas DataFrame
filepath = '/Users/ramezalghazawi/Desktop/machine learning projects/Classification/creditcard.csv'
credit_card_data = pd.read_csv(filepath)
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [15]:
# dataset informations
credit_card_data.info() #the data has 284807 rows with 31 columns all of type float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [16]:
# checking if there is missing values in the dataset 
credit_card_data.isnull().sum().all()

False

In [17]:
# distribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

### This Dataset is highly unblanced

### where ['Class'] column represent weather or not the Transaction is legit = 0, Fraudulent = 1

In [18]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [19]:
# viewing the shape of legit and fraud
print(f"shape of legit : {legit.shape}, shape of fraud : {fraud.shape}")

shape of legit : (284315, 31), shape of fraud : (492, 31)

In [22]:
# statistical measures of column ['Amount'] of the data
des_legit_amount = pd.DataFrame(legit.Amount.describe())
des_legit_amount

              Amount
count  284315.000000
mean       88.291022
std       250.105092
min         0.000000
25%         5.650000
50%        22.000000
75%        77.050000
max     25691.160000

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

### Under-Sampling

#### Building a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [25]:
num = fraud.shape[0]
legit_sample = legit.sample(num, random_state = 12)

### Concatenating the two DataFrames

In [33]:
#concatonating on the rows 
#Remeber : no need to set axis = index(, axis=0) since it's the defult
new_dataset = pd.concat([legit_sample, fraud])
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
115516,73892.0,-0.437811,1.373016,1.011244,1.079726,-0.279191,-0.775242,0.202619,0.239605,-1.049486,...,-0.101656,-0.339511,0.088823,0.390392,-0.727172,0.251052,0.040072,0.105115,1.98,0
31469,36379.0,0.960045,-1.701390,0.090809,-2.416616,-1.778207,-1.187327,-0.352306,-0.313573,1.055548,...,-0.208095,-0.342909,-0.261466,0.414765,0.551794,-0.760302,0.067309,0.072245,242.72,0
53705,46111.0,-1.102520,-0.060530,1.889404,-0.661216,0.390078,-0.102049,0.159353,0.303413,-0.212597,...,0.100816,-0.123689,-0.003283,-0.528963,-0.017937,0.123260,0.000848,0.098494,74.00,0
75505,56096.0,1.215591,-0.923908,1.445581,-0.426111,-2.048282,-0.659058,-1.211350,0.010945,-0.224934,...,-0.115346,0.072561,0.076192,0.763830,-0.102974,1.089679,-0.010595,0.038919,55.90,0
136261,81619.0,-0.865279,-0.333630,1.911825,-0.657428,0.447913,0.966571,-0.432282,0.458181,-1.603137,...,0.265571,0.801547,-0.008092,-0.589504,0.021479,0.033172,0.128148,0.070312,22.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
#now we can see that we have equal amount of legit and fraud values 
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [ ]:
#grouping by the mean
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      96783.638211 -0.053037  0.055150  ... -0.027930  0.004996   91.477053
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [36]:
#setting the X to the dataset without the ['Class'] column 
#setting the Y to ['Class'] which is our target
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [37]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
115516,73892.0,-0.437811,1.373016,1.011244,1.079726,-0.279191,-0.775242,0.202619,0.239605,-1.049486,...,0.149398,-0.101656,-0.339511,0.088823,0.390392,-0.727172,0.251052,0.040072,0.105115,1.98
31469,36379.0,0.960045,-1.701390,0.090809,-2.416616,-1.778207,-1.187327,-0.352306,-0.313573,1.055548,...,0.001703,-0.208095,-0.342909,-0.261466,0.414765,0.551794,-0.760302,0.067309,0.072245,242.72
53705,46111.0,-1.102520,-0.060530,1.889404,-0.661216,0.390078,-0.102049,0.159353,0.303413,-0.212597,...,0.154369,0.100816,-0.123689,-0.003283,-0.528963,-0.017937,0.123260,0.000848,0.098494,74.00
75505,56096.0,1.215591,-0.923908,1.445581,-0.426111,-2.048282,-0.659058,-1.211350,0.010945,-0.224934,...,-0.362970,-0.115346,0.072561,0.076192,0.763830,-0.102974,1.089679,-0.010595,0.038919,55.90
136261,81619.0,-0.865279,-0.333630,1.911825,-0.657428,0.447913,0.966571,-0.432282,0.458181,-1.603137,...,0.330668,0.265571,0.801547,-0.008092,-0.589504,0.021479,0.033172,0.128148,0.070312,22.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [35]:
Y

115516    0
31469     0
53705     0
75505     0
136261    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### using train_test_split to split our X and Y with a 20/80 ratio

In [39]:
#Remeber :(,stratify) If not None, data is split in a stratified fashion, using this as the class labels.
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [40]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

### Traing the model using Logistic Regression

In [43]:
model = LogisticRegression()

In [44]:
# training the Logistic Regression Model with Training Data
#first step fitting the model
model.fit(X_train, Y_train)

LogisticRegression()

### evaluating the model using Accuracy Score, recommended by the dataset Author

In [47]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [46]:
print(f"Accuracy on Training data : {training_data_accuracy}")

Accuracy on Training data : 0.9263024142312579

In [49]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [50]:
print(f"Accuracy score on Test Data : {test_data_accuracy}" )

Accuracy score on Test Data : 0.9137055837563451